run = "npm run build && npm start"
entrypoint = "server/index.ts"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
build = ["sh", "-c", "npm install"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 80
